<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>Organizador</title>

	<meta name="description" content="with draggable and editable events" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

	<!-- <script src="/js/pacientes/turnos/recepcionDeTurnos.js"></script> -->
	<!-- page specific plugin styles -->
	<link rel="stylesheet" href="/assets/css/jquery-ui.custom.min.css" />
	<link rel="stylesheet" href="/assets/css/fullcalendar.min.css" />

	<!-- text fonts -->
	<link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />

	<!-- ace styles -->
	<link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

	<!--[if lte IE 9]>
			<link rel="stylesheet" href="/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
	<link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
	<link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />

	<!--[if lte IE 9]>
		  <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
		<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->
	<script src="/assets/js/ace-extra.min.js"></script>


	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
		<![endif]-->

	<link rel="stylesheet" href="/assets/css/estilo_plantilla.css" />
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body class="no-skin">
	<div id="navbar" class="navbar navbar-default          ace-save-state">
		<div class="navbar-container ace-save-state" id="navbar-container">
			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
			</button>

			<div class="navbar-header pull-left">
				<a href="" class="navbar-brand">
					<small>
						<div class="logo">
							<img class="logo__manzana " src=".//assets/images/Logo Final Blanco sin texto-01.png"
								alt="Imagen Logo">
							<h2 class="name_app">Nutri-sys</h2>
						</div>
					</small>
				</a>
			</div>

			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">


					<li class="purple dropdown-modal">
						<!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<i class="ace-icon fa fa-bell icon-animated-bell"></i>
							<span class="badge badge-important">8</span>
						</a> -->

						<ul
							class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header">
								<i class="ace-icon fa fa-exclamation-triangle"></i>
								8 Notifications
							</li>

							<li class="dropdown-content">
								<ul class="dropdown-menu dropdown-navbar navbar-pink">
									<li>
										<a href="#">
											<div class="clearfix">
												<span class="pull-left">
													<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
													New Comments
												</span>
												<span class="pull-right badge badge-info">+12</span>
											</div>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="btn btn-xs btn-primary fa fa-user"></i>
											Bob just signed up as an editor ...
										</a>
									</li>

									<li>
										<a href="#">
											<div class="clearfix">
												<span class="pull-left">
													<i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
													New Orders
												</span>
												<span class="pull-right badge badge-success">+8</span>
											</div>
										</a>
									</li>

									<li>
										<a href="#">
											<div class="clearfix">
												<span class="pull-left">
													<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
													Followers
												</span>
												<span class="pull-right badge badge-info">+11</span>
											</div>
										</a>
									</li>
								</ul>
							</li>

							<li class="dropdown-footer">
								<a href="#">
									See all notifications
									<i class="ace-icon fa fa-arrow-right"></i>
								</a>
							</li>
						</ul>
					</li>

					<li class="green dropdown-modal">
						<!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
							<span class="badge badge-success">5</span>
						</a> -->

						<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header">
								<i class="ace-icon fa fa-envelope-o"></i>
								5 Messages
							</li>

							<li class="dropdown-content">
								<ul class="dropdown-menu dropdown-navbar">
									<li>
										<a href="#" class="clearfix">
											<img src="/assets/images/avatars/avatar.png" class="msg-photo"
												alt="Alex's Avatar" />
											<span class="msg-body">
												<span class="msg-title">
													<span class="blue">Alex:</span>
													Ciao sociis natoque penatibus et auctor ...
												</span>

												<span class="msg-time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span>a moment ago</span>
												</span>
											</span>
										</a>
									</li>

									<li>
										<a href="#" class="clearfix">
											<img src="/assets/images/avatars/avatar3.png" class="msg-photo"
												alt="Susan's Avatar" />
											<span class="msg-body">
												<span class="msg-title">
													<span class="blue">Susan:</span>
													Vestibulum id ligula porta felis euismod ...
												</span>

												<span class="msg-time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span>20 minutes ago</span>
												</span>
											</span>
										</a>
									</li>

									<li>
										<a href="#" class="clearfix">
											<img src="/assets/images/avatars/avatar4.png" class="msg-photo"
												alt="Bob's Avatar" />
											<span class="msg-body">
												<span class="msg-title">
													<span class="blue">Bob:</span>
													Nullam quis risus eget urna mollis ornare ...
												</span>

												<span class="msg-time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span>3:15 pm</span>
												</span>
											</span>
										</a>
									</li>

									<li>
										<a href="#" class="clearfix">
											<img src="/assets/images/avatars/avatar2.png" class="msg-photo"
												alt="Kate's Avatar" />
											<span class="msg-body">
												<span class="msg-title">
													<span class="blue">Kate:</span>
													Ciao sociis natoque eget urna mollis ornare ...
												</span>

												<span class="msg-time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span>1:33 pm</span>
												</span>
											</span>
										</a>
									</li>

									<li>
										<a href="#" class="clearfix">
											<img src="/assets/images/avatars/avatar5.png" class="msg-photo"
												alt="Fred's Avatar" />
											<span class="msg-body">
												<span class="msg-title">
													<span class="blue">Fred:</span>
													Vestibulum id penatibus et auctor ...
												</span>

												<span class="msg-time">
													<i class="ace-icon fa fa-clock-o"></i>
													<span>10:09 am</span>
												</span>
											</span>
										</a>
									</li>
								</ul>
							</li>

							<li class="dropdown-footer">
								<a href="inbox.html">
									See all messages
									<i class="ace-icon fa fa-arrow-right"></i>
								</a>
							</li>
						</ul>
					</li>

					<li class="light-blue dropdown-modal">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<img class="nav-user-photo" src="/assets/images/avatars/avatar2.png" alt="Jason's Photo" />
							<span class="user-info">
								<small>
									<%= user.apellido %>,
								</small>
								<%= user.nombre %>
							</span>

							<i class="ace-icon fa fa-caret-down"></i>
						</a>

						<ul
							class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#">
									<i class="ace-icon fa fa-cog"></i>
									Configuración
								</a>
							</li>

							<li>
								<a href="profile.html">
									<i class="ace-icon fa fa-user"></i>
									Perfil
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="/usuarios/logout">
									<i class="ace-icon fa fa-power-off"></i>
									Cerrar sesión
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.navbar-container -->
	</div>

	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try { ace.settings.loadState('main-container') } catch (e) { }
		</script>

		<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
			<script type="text/javascript">
				try { ace.settings.loadState('sidebar') } catch (e) { }
			</script>

			<div class="sidebar-shortcuts" id="sidebar-shortcuts">

			</div><!-- /.sidebar-shortcuts -->


			<!-- *********************************************************************************
	**************************************************************************************
	************************************ MENU LATERAL ************************************
	**************************************************************************************
	************************************************************************************** -->

			<ul class="nav nav-list">
				<li class="active">
					<a href="index.html" class="dropdown-toggle">
						<i class="menu-icon fa fa-calendar"></i>
						<span class="menu-text"> Organizador </span>
						<b class="arrow fa fa-angle-down"></b>
					</a>

					<b class="arrow"></b>

					<ul class="submenu">
						<li class="active">
							<a href="/turnos">
								<i class="menu-icon fa fa-caret-right"></i>
								Recepción de Turnos
							</a>

							<b class="arrow"></b>
						</li>

						<li class="">
							<a href="http://localhost:3000/turnos/leg=<%= user.usu_usuario %>">
								<i class="menu-icon fa fa-caret-right"></i>
								Mis Turnos
							</a>

							<b class="arrow"></b>
						</li>
					</ul>


				</li>

				<li class="">
					<a href="/pacientes/buscarpaciente">
						<i class="menu-icon fa fa-list-alt"></i>
						<span class="menu-text"> Historia Clinica </span>
					</a>

					<b class="arrow"></b>
				</li>

				<!-- <li class="">
					<a href="">
						<i class="menu-icon fa fa-signal"></i>
						<span class="menu-text"> Reportes </span>
					</a>

					<b class="arrow"></b>
				</li> -->

				<li class="">
					<a href="/usuarios/consultausuario">
						<i class="menu-icon fa fa-pencil-square-o"></i>
						<span class="menu-text"> Adm. de Usuarios </span>
					</a>

					<b class="arrow"></b>
				</li>

			</ul><!-- /.nav-list -->

			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
					data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
		</div>

		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="#">Home</a>
						</li>
						<li class="active">Organizador</li>
					</ul><!-- /.breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input"
									id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- /.nav-search -->
				</div>

				<div class="page-content">
					<div class="ace-settings-container" id="ace-settings-container">
						<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
							<i class="ace-icon fa fa-cog bigger-130"></i>
						</div>

						<div class="ace-settings-box clearfix" id="ace-settings-box">
							<div class="pull-left width-50">
								<div class="ace-settings-item">
									<div class="pull-left">
										<select id="skin-colorpicker" class="hide">
											<option data-skin="no-skin" value="#438EB9">#438EB9</option>
											<option data-skin="skin-1" value="#222A2D">#222A2D</option>
											<option data-skin="skin-2" value="#C6487E">#C6487E</option>
											<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
										</select>
									</div>
									<span>&nbsp; Choose Skin</span>
								</div>

								<div class="ace-settings-item">
									<input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
										id="ace-settings-navbar" autocomplete="off" />
									<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
								</div>

								<div class="ace-settings-item">
									<input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
										id="ace-settings-sidebar" autocomplete="off" />
									<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
								</div>

								<div class="ace-settings-item">
									<input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
										id="ace-settings-breadcrumbs" autocomplete="off" />
									<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
								</div>

								<div class="ace-settings-item">
									<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"
										autocomplete="off" />
									<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
								</div>

								<div class="ace-settings-item">
									<input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
										id="ace-settings-add-container" autocomplete="off" />
									<label class="lbl" for="ace-settings-add-container">
										Inside
										<b>.container</b>
									</label>
								</div>
							</div><!-- /.pull-left -->

							<div class="pull-left width-50">
								<div class="ace-settings-item">
									<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"
										autocomplete="off" />
									<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
								</div>

								<div class="ace-settings-item">
									<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"
										autocomplete="off" />
									<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
								</div>

								<div class="ace-settings-item">
									<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight"
										autocomplete="off" />
									<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
								</div>
							</div><!-- /.pull-left -->
						</div><!-- /.ace-settings-box -->
					</div><!-- /.ace-settings-container -->

					<div class="page-header">
						<h1>
							Recepción de Turnos
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
							</small>
						</h1>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div>
								<h2>Profesional: </h2>
								<select class="form-control" id="select-profesional"
									onchange="buscarAgendaProfesional(this.value)">

								</select>
							</div>

							<div class="row">
								<div class="col-sm-9">
									<div class="space"></div>

									<div id="calendar"></div>
								</div>

								<div class="col-sm-3">
									<div class="widget-box transparent">
										<div class="widget-header">
											<h4>Turnos rápidos</h4>
										</div>

										<div class="widget-body">
											<div class="widget-main no-padding">
												<div id="external-events">
													<div class="external-event label-grey" data-class="label-grey">
														<i class="ace-icon fa fa-arrows"></i>
														Consulta
													</div>

													<div class="external-event label-danger" data-class="label-danger">
														<i class="ace-icon fa fa-arrows"></i>
														Reservado
													</div>

													<!-- <div class="external-event label-danger" data-class="label-danger">
														<i class="ace-icon fa fa-arrows"></i>
														My Event 3
													</div>

													<div class="external-event label-purple" data-class="label-purple">
														<i class="ace-icon fa fa-arrows"></i>
														My Event 4
													</div>

													<div class="external-event label-yellow" data-class="label-yellow">
														<i class="ace-icon fa fa-arrows"></i>
														My Event 5
													</div>

													<div class="external-event label-pink" data-class="label-pink">
														<i class="ace-icon fa fa-arrows"></i>
														My Event 6
													</div>

													<div class="external-event label-info" data-class="label-info">
														<i class="ace-icon fa fa-arrows"></i>
														My Event 7
													</div> -->

													<!-- <label>
														<input type="checkbox" class="ace ace-checkbox"
															id="drop-remove" />
														<span class="lbl"> Remove after drop</span>
													</label> -->
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="widget-box transparent">
										<div class="widget-header">
											<h4>Referencias</h4>
										</div>

										<div class="widget-body">
											<div class="widget-main no-padding">
												<div id="external-events">
													<div class="label-grey" data-class="label-grey"
														style="padding: 1rem; margin: 1rem 0;">
														<!-- <i class="ace-icon fa fa-arrows"></i> -->
														Apartado - Sin confirmar
													</div>

													<div class="label-verde" data-class="label-verde"
														style="padding: 1rem; margin: 1rem 0;">
														<!-- <i class="ace-icon fa fa-arrows"></i> -->
														Confirmado
													</div>

													<div class="label-yellow" data-class="label-yellow"
														style="padding: 1rem; margin: 1rem 0;">
														Receptado
													</div>
													<div class="label-info" data-class="label-info"
														style="padding: 1rem; margin: 1rem 0;">
														En Atención
													</div>
													<div class="label-brown" data-class="label-yellow"
														style="padding: 1rem; margin: 1rem 0;">
														Finalizado
													</div>
													<div id="referenciaCancelado" class="label-danger"
														data-class="label-danger" style="padding: 1rem; margin: 1rem 0;"
														hidden=true>
														Cancelado
													</div>
													<label>
														<input type="checkbox" class="ace ace-checkbox" id="drop-remove"
															onchange="verTurnosCancelados()" />
														<span class="lbl"> Ver turnos cancelados</span>
													</label>

												</div>
											</div>
										</div>
									</div>
								</div>



							</div>

							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content">
					<span class="bigger-120">
					</span>
				</div>
			</div>
		</div>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script src="/assets/js/jquery-2.1.4.min.js"></script>

	<!-- <![endif]-->

	<!--[if IE]>
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
	</script>
	<script src="/assets/js/bootstrap.min.js"></script>

	<!-- page specific plugin scripts -->
	<script src="/assets/js/jquery-ui.custom.min.js"></script>
	<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/fullcalendar.min.js"></script>
	<script src="/assets/js/bootbox.js"></script>

	<!-- ace scripts -->
	<script src="/assets/js/ace-elements.min.js"></script>
	<script src="/assets/js/ace.min.js"></script>

	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		jQuery(function ($) {

			/* initialize the external events
				-----------------------------------------------------------------*/

			$('#external-events div.external-event').each(function () {

				// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
				// it doesn't need to have a start or end
				var eventObject = {
					title: $.trim($(this).text()) // use the element's text as the event title
				};

				// store the Event Object in the DOM element so we can get to it later
				$(this).data('eventObject', eventObject);

				// make the event draggable using jQuery UI
				$(this).draggable({
					zIndex: 999,
					revert: true,      // will cause the event to go back to its
					revertDuration: 0  //  original position after the drag
				});

			});




			/* initialize the calendar
			-----------------------------------------------------------------*/

			var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();


			var calendar = $('#calendar').fullCalendar({
				//isRTL: true,
				//firstDay: 1,// >> change first day of week 

				buttonHtml: {
					prev: '<i class="ace-icon fa fa-chevron-left"></i>',
					next: '<i class="ace-icon fa fa-chevron-right"></i>'
				},

				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				dayClick: function (date, jsEvent, view) {
					var dia = date.format();
					console.log(date.format());
					$('#calendar').fullCalendar('gotoDate', date.format());
					$('#calendar').fullCalendar('changeView', 'agendaDay');
				}


				,

				businessHours: {
					start: '7:00', // hora inicial
					end: '21:00', // hora final
					dow: [1, 2, 3, 4, 5] // dias de semana, 0=Domingo
				},

				selectConstraint: "businessHours",
				eventConstraint: "businessHours",

				// Ampliación momento fin de turno

				eventResize: function (event, delta, revertFunc) {

					actualizarhoraturno(event, revertFunc)

				},

				// Movimiento de Turnos

				eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
					actualizarhoraturno(event, revertFunc)
				},

				editable: true,
				droppable: true, // this allows things to be dropped onto the calendar !!!
				drop: function (date) { // this function is called when something is dropped

					// retrieve the dropped element's stored Event Object
					var originalEventObject = $(this).data('eventObject');
					var $extraEventClass = $(this).attr('data-class');


					// we need to copy it, so that multiple events don't have a reference to the same object
					var copiedEventObject = $.extend({}, originalEventObject);

					// assign it the date that was reported
					copiedEventObject.start = date;
					copiedEventObject.end = date;

					copiedEventObject.allDay = false;
					if ($extraEventClass) copiedEventObject['className'] = [$extraEventClass];

					// render the event on the calendar
					// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
					$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

					// is the "remove after drop" checkbox checked?
					if ($('#drop-remove').is(':checked')) {
						// if so, remove the element from the "Draggable Events" list
						$(this).remove();
					}

				}
				,
				selectable: true,
				selectHelper: true,
				// select: function (start, end, allDay) {

				// 	bootbox.prompt("Nuevo Turno:", function (title) {
				// 		if (title !== null) {
				// 			calendar.fullCalendar('renderEvent',
				// 				{
				// 					title: title,
				// 					start: start,
				// 					end: end,
				// 					allDay: allDay,
				// 					className: 'label-info'
				// 				},
				// 				true // make the event "stick"
				// 			);
				// 		}
				// 	});




				// 	calendar.fullCalendar('unselect');
				// }
				// ,

				eventClick: function (calEvent, jsEvent, view) {
					if (document.getElementById("select-profesional").value == "") {
						swal("Atención", "Debe seleccionar un profesional", "error")
						calendar.fullCalendar('removeEvents', function (ev) {
							return (ev._id == calEvent._id);
						})
						console.log(calEvent.className.toString())
						return false
					}

					// console.log('Event: ' + calEvent._start._d);
					// console.log('Event: ' + calEvent._end._d);

					if (calEvent.className.toString() == "label-danger") {
						if (calEvent.idturno == null) {
							generarReservado(calEvent)
							return
						} else {
							swal({
								title: "Atención",
								text: "¿Desea Eliminar el turno " + calEvent.title + "?",
								icon: "warning",
								buttons: true,
								dangerMode: true,
							})
								.then((willDelete) => {
									if (willDelete) {
										try {
											fetch("http://localhost:3000/borrarturno/" + calEvent.idturno, {
												method: "DELETE"
											}).then(res => res.json())
										} catch (error) {
											swal("Error", "Hubo un Error al Registrar. Intente nuevamente.", "error")
											console.log(error)
										}
										calendar.fullCalendar('removeEvents', function (ev) {
											return (ev._id == calEvent._id);
										})
									}
								})
							return
						}

					}
					//display a modal
					console.log('Event: ' + calEvent.estado);

					if (calEvent.estado == undefined) {

						var modal =
							'<div class="modal fade">\
			  <div class="modal-dialog">\
			   <div class="modal-content">\
				 <div class="modal-body">\
				   <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
				   <form class="no-margin">\
					  <label>HC Paciente: &nbsp;</label>\
						<input id="hcPaciente" class="middle" autocomplete="off" type="text" value="' + mostrarHC(calEvent.title) + '" />\
					  <label>Doc Paciente: &nbsp;</label>\
						<input id="docPaciente" class="middle" autocomplete="off" type="number" style="-webkit-appearance: textfield !important; -moz-appearance:textfield !important;" value="' + mostrarDoc(calEvent.title) + '" />\
					 	<button id="btnGuardar" type="submit" class="btn btn-sm btn-success" style="margin-top: 1rem; margin-left: 45rem;"><i class="ace-icon fa fa-check"></i> Guardar</button>\
				   </form>\
				 </div>\
				 <div class="modal-footer">\
					<button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i> Cancelar Turno</button>\
					<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
				 </div>\
			  </div>\
			 </div>\
			</div>';

					}

					else if (calEvent.estado == 'Confirmado') {
						var modal =
							'<div class="modal fade">\
			  <div class="modal-dialog">\
			   <div class="modal-content">\
				 <div class="modal-body">\
				   <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
				   <form class="no-margin">\
					<label>HC Paciente: &nbsp;</label>\
						<input id="hcPaciente" class="middle" autocomplete="off" type="text" value="' + mostrarHC(calEvent.title) + '" readonly/>\
					  <label>Doc Paciente: &nbsp;</label>\
						<input id="docPaciente" class="middle" autocomplete="off" type="number" style="-webkit-appearance: textfield !important; -moz-appearance:textfield !important;" value="' + mostrarDoc(calEvent.title) + '" readonly/>\
						<br>\
						<label style="font-weight: bold;">Nombre: &nbsp;</label>\
						<label> ' + buscarNombrePaciente(calEvent.title) + ' &nbsp;</label>\
						<br>\
						<label style="font-weight: bold;">Apellido: &nbsp;</label>\
						<label> ' + buscarApellidoPaciente(calEvent.title) + ' &nbsp;</label>\
						<br>\
						<label style="font-weight: bold;">Celular: &nbsp;</label>\
						<label>' + buscarCelularPaciente(calEvent.title) + ' &nbsp;</label>\
						<div align="right"><button id="btnReceptar" type="submit" class="btn btn-sm btn-success" style="margin-top: 1rem; margin-right: 2rem"><i class="ace-icon fa fa-list"></i> Receptar</button>\</div>\
				   </form>\
				 </div>\
				 <div class="modal-footer">\
					<button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i> Cancelar Turno</button>\
					<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cerrar</button>\
				 </div>\
			  </div>\
			 </div>\
			</div>';
					}

					else if (calEvent.estado == 'Receptado') {
						var modal =
							'<div class="modal fade">\
			  <div class="modal-dialog">\
			   <div class="modal-content">\
				 <div class="modal-body">\
				   <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
				   <form class="no-margin">\
					  <label>HC Paciente: &nbsp;</label>\
						<input id="hcPaciente" class="middle" autocomplete="off" type="text" value="' + mostrarHC(calEvent.title) + '" readonly/>\
					  <label>Doc Paciente: &nbsp;</label>\
						<input id="docPaciente" class="middle" autocomplete="off" type="number" style="-webkit-appearance: textfield !important; -moz-appearance:textfield !important;" value="' + mostrarDoc(calEvent.title) + '" readonly/>\
						<br>\
						<label style="font-weight: bold;">Nombre: &nbsp;</label>\
						<label> ' + buscarNombrePaciente(calEvent.title) + ' &nbsp;</label>\
						<br>\
						<label style="font-weight: bold;">Apellido: &nbsp;</label>\
						<label> ' + buscarApellidoPaciente(calEvent.title) + ' &nbsp;</label>\
						<br>\
						<label style="font-weight: bold;">Celular: &nbsp;</label>\
						<label>' + buscarCelularPaciente(calEvent.title) + ' &nbsp;</label>\
				   </form>\
				 </div>\
				 <div class="modal-footer">\
					<button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i> Cancelar Turno</button>\
					<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cerrar</button>\
				 </div>\
			  </div>\
			 </div>\
			</div>';
					}

					else if (calEvent.estado == 'En Atención' || calEvent.estado == 'Finalizado' || calEvent.estado == 'Cancelado' ) {
						var modal =
							'<div class="modal fade">\
			  <div class="modal-dialog">\
			   <div class="modal-content">\
				 <div class="modal-body">\
				   <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
				   <form class="no-margin">\
					<label>HC Paciente: &nbsp;</label>\
						<input id="hcPaciente" class="middle" autocomplete="off" type="text" value="' + mostrarHC(calEvent.title) + '" readonly/>\
					  <label>Doc Paciente: &nbsp;</label>\
						<input id="docPaciente" class="middle" autocomplete="off" type="number" style="-webkit-appearance: textfield !important; -moz-appearance:textfield !important;" value="' + mostrarDoc(calEvent.title) + '" readonly/>\
						<br>\
						<label style="font-weight: bold;">Nombre: &nbsp;</label>\
						<label> ' + buscarNombrePaciente(calEvent.title) + ' &nbsp;</label>\
						<br>\
						<label style="font-weight: bold;">Apellido: &nbsp;</label>\
						<label> ' + buscarApellidoPaciente(calEvent.title) + ' &nbsp;</label>\
						<br>\
						<label style="font-weight: bold;">Celular: &nbsp;</label>\
						<label>' + buscarCelularPaciente(calEvent.title) + ' &nbsp;</label>\
				   </form>\
				 </div>\
				 <div class="modal-footer">\
					<button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cerrar</button>\
				 </div>\
			  </div>\
			 </div>\
			</div>';
					}


					var modal = $(modal).appendTo('body');
					modal.find('form').on('submit', function (ev) {

						ev.preventDefault();

						if (calEvent.estado == undefined) {
							var documento;
							documento = $(this).find("input[type=number]").val();

							if (validarDoc(documento.toString())) {

								calEvent.title = buscarHCPorDoc(documento.toString());
							}
							else {
								calEvent.title = $(this).find("input[type=text]").val();
							}

							if (verificarPaciente(calEvent.title)) {
								confirmarTurno(calEvent, calEvent.title, calendar);
								//generarTurno(calEvent.title, calEvent._start._d, calEvent._end._d);
								//**
								var turno = calEvent.title + " - " + buscarNombrePaciente(calEvent.title) + " - " + buscarDocPaciente(calEvent.title);
								calEvent.title = turno;
								// // calEvent.title = calEvent.title + " - " + buscarNombrePaciente(calEvent.title);
								// //**
								calEvent.className = 'label-verde';
								calendar.fullCalendar('updateEvent', calEvent);
								//console.log(calEvent._start._d);
								//***
								modal.modal("hide");
							}
							else {
								alert("Paciente no encontrado. HC o Documento inválido.");
							}

							// calendar.fullCalendar('updateEvent', calEvent);

						}

						if (calEvent.estado == 'Confirmado') {
							calEvent.estado = 'Receptado';
							calEvent.editable = false;
							receptarTurno(calEvent);
							calEvent.className = 'label-yellow';
							calendar.fullCalendar('updateEvent', calEvent);
							modal.modal("hide");
						}


					});

					modal.find('button[data-action=delete]').on('click', function () {
						swal({
							title: "Atención",
							text: "¿Desea Cancelar el turno " + calEvent.title + "?",
							icon: "warning",
							buttons: true,
							dangerMode: true,
						})
							.then((willDelete) => {
								if (willDelete) {
									var f = new Date();
									let mes = f.getMonth() + 1
									let dia = f.getDate()
									if (mes < 10) {
										f = f.getFullYear() + "-0" + mes + "-"
									} else {
										f = f.getFullYear() + "-" + mes + "-"
									}
									if (dia < 10) {
										f = f + "0" + dia
									} else {
										f = f + dia
									}
									if (f == calEvent.fecharegistro.substr(0, 10)) {
										try {
											fetch("http://localhost:3000/borrarturno/" + calEvent.idturno, {
												method: "DELETE"
											}).then(res => res.json())
										} catch (error) {
											swal("Error", "Hubo un Error al Registrar. Intente nuevamente.", "error")
											console.log(error)
										}
										calendar.fullCalendar('removeEvents', function (ev) {
											return (ev._id == calEvent._id);
										})
									} else {
										const post = {
											turno_idestado: 4
										}
										console.log(post)
										try {
											console.log(JSON.stringify(post));
											fetch("http://localhost:3000/actualizarturno/" + calEvent.idturno, {
												method: "PUT",
												body: JSON.stringify(post),
												headers: {
													"Content-type": "application/json"
												}
											}).then(res => res.json())
												.then(data => console.log(data))
										} catch (error) {
											swal("Error", "Hubo un Error al Registrar. Intente nuevamente.", "error")
											console.log(error)
										}
										calEvent.estado = 'Cancelado';
										calEvent.className = 'label-turno-cancelado label-danger invisible';
										calendar.fullCalendar('updateEvent', calEvent);
									}
								}
							})
						modal.modal("hide");
					});


					modal.modal('show').on('hidden', function () {
						modal.remove();
					});

					// var hc = $(this).find("input[type=text]").val();
					// hc.addEventListener('keyup'),(event)=>{
					// 	var inputText = event.path
					// }

					//console.log(calEvent.id);
					//console.log(jsEvent);
					//console.log(view);

					// change the border color just for fun
					// $(this).css('border-color', 'red');

				}




			});




		})


	</script>
</body>

</html>

<script src="/js/pacientes/turnos/recepcionDeTurnos.js"></script>