<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Nutri-sys - Organizador</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" />


		<link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />

		<link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/assets/css/estilo_plantilla.css" />

		<script src="/assets/js/ace-extra.min.js"></script>

	<link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="/css/estilos_registrarUsuarioPaciente.css"> 

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</head>

	<body class="no-skin">
		<div class="sesion-principal sombra">
            <form class="formulario-sesion" action="http://localhost:3000/usuario/login" method="POST" autocomplete="off">
                <div class="campos-clave">
                        <h2 class="input__text">Su correo electronico actual es:</h2>
                        <input type="text" disabled=true id="usu_correo" class="input__padding">
                        <br>
                        <h2 class="input__text">Contraseña(*):</h2>
                        <input type="password" autocomplete="off" class="input__padding" placeholder=" Ingrese Contraseña " id="usu_clave" >
                        <br>
                        <h2 class="input__text">Confirmar Contraseña(*):</h2>
                        <input type="password" autocomplete="off" placeholder=" Ingrese Contraseña " class="input__padding" id="usu_claveC" >
                </div>
                <br>
           </form>
		   <input class="boton-iniciarSesion" type="submit" value="Registrar" onclick="registrarUsuarioPaciente()"> 

        </div>
	<script src="/js/usuarios/codigo_registrarUsuarioPaciente.js"></script>

	</body>
</html>
