.panel__title{
    font-weight: bold;
}


@media (max-width: 1200px) {
 
    .contenedor__panel{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media (min-width: 1201px) {
 
    .contenedor__panel{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

.panel__objetivos{
    display: flex;
    float: row;
    gap: 2rem;
    background-color: lightgrey;
    padding: 1rem;
}

.o__pesos, .o__progreso{
    width: 100%;

}

.o__progreso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor__peso{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.panel__habitos{
    display: flex;
    float: row;
    gap: 2rem;
    background-color: lightgrey;
    padding: 1rem;
}

.habitos__aTrabajar, .habitos__mejorados{
    width: 100%;
    
}

.col-xs-12 {
    width: 100%;
}

.panel__graficoPeso{
  background-color: lightgrey;
}

.panel__graficobmi{
  background-color: lightgrey;
}


/* Grafico de Progreso */

.RadialProgress {
    --hue: 220;
    --holesize: 65%;
    --track-bg: hsl(233, 34%, 92%);
    
    height: 25vmin;
    width: 25vmin;
    min-width: 100px;
    min-height: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    position: relative;
    font-weight: 700;
    font-size: max(10vmin, 1.4rem)

    
  }


  

  input[type=range] {
    
    -webkit-appearance: none;
    
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
  }
/***** ESTILOS REPORTE ******/
#form-param {
	padding: 20px;
	background-color: #fff;
	display: flex;
}

#form-param .container {
    flex: 2;
}
#form-param .buttons {
	flex: 1;
}

input {
	padding: 9px;
	margin: 6px;
	width: 42%
}

button{
	border: none;
	padding: 9px;
	display: block;
	margin: 6px
}

button:first-child {
	background-color: #48e;
	color: #fff
}
.addParam{
    display: none;
}
#grafico{
    color: var(--primario);
}

/***** ESTILOS REPORTE ******/
#form-param {
	padding: 20px;
	background-color: #fff;
	display: flex;
}

#form-param .container {
    flex: 2;
}
#form-param .buttons {
	flex: 1;
}

input {
	padding: 9px;
	margin: 6px;
	width: 42%
}

button2{
	border: none;
	padding: 9px;
	display: block;
	margin: 6px
}

button:first-child {
	background-color: #48e;
	color: #fff
}
.addParam2{
    display: none;
}
#grafico2{
    color: var(--primario);
}

  
