:root{

    --primario: #00d500;
    --secundario: #00aa00;
    --blanco: #fff;
    --negro: #000;
    --grisClaro: #f0f3f4;
    --grisMedio: #e5e5e5;
    --grisOscuro: #acadac;

    --fuentePrincipal: 'Open Sans', cursive;
    --fuenteLogo: 'Amatic SC', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    /*Solucion Corte*/
    /* height: 100%; */
    scroll-snap-type: y mandatory;
    height:max-content;
}


html, body{
    width:100%;
    margin: 0;
    /* height: 100%; */
    height: max-content;
    /*display: flex;*/

  }


  
    /*** Responsivo ***/

    @media (min-width: 700px) {
   
        /* body{
        display: flex;
       }    */
    
      }
    
      @media (max-width: 699px) {
        .menuPrincipal{
           padding-bottom: 4rem;
        }
    
      }

  *, *:before, *:after{
    box-sizing: inherit;
}

h1{
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 10rem;
}

h2{
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
} 

h3{
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
}


.flex-imageItem{
    width: 10rem;
    height: 10rem;
    margin: 1rem  auto;
}

.flex-imageItem--small{
    width: 5rem;
    height: 5rem;
    margin: 1rem  auto;
}

/*************************/
/** CONTENIDO A UN LADO **/
/*************************/

.aside{
    display: flex;
    flex-direction: column;
}

/** LOGO **/

.logo__manzana{
    width: 40px;
    height: 40px;
}

.name_app{
    margin: 0 auto;
    font-size: 3rem;
    color: var(--blanco);
    font-family: var(--fuenteLogo);
    padding: 1rem;
    font-weight: bold;
}

.logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1rem;
    min-width: 20%;
}

/** MENU **/

.menuPrincipal{
    background-color: var(--primario);
    height:200%;
    margin-bottom:auto;
}

.contenedorOpciones{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    max-height: 100% ;
    padding-top: 4rem;
    position: fixed;
    width: 27.5rem;

}

.contenedorOpciones__opcion{

    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.contenedorOpciones__opcion:hover{
    background-color: var(--secundario);
    color: var(--blanco);
}

/*************************/
/** CONTENIDO PRINCIPAL **/
/*************************/
.seccion__titulo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    background-color: var(--primario);
    padding-left: 4rem ;
    margin-bottom: 1rem;

}
.contenidoPrincipal{
    display: flex;
    flex-direction: column;
    width: 80% !important;
    background-color: var(--grisClaro);
}

.accesoRapido{
    
    display: flex;
    background-color: white;
    align-items: center;
    justify-content:space-around;
    width: 93%;
}

.contenidoPagina{
    display: flex;
    flex-direction: column;
    width: auto;
    /* width: 95%; */
   
}


.section__historiaClinica{
    display: flex;
    flex-direction: column;
    background-color: var(--grisMedio);
    margin: 2rem;
}

.encabezado__datosPaciente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5rem;
}

.fichaInicial{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}
.evoluciones{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}
.navegacion__solapas{
    display: flex;
    flex-direction: row;
    
}
.nav__solapa{
    width: 20%;
    border: black 0.3rem;
    border-style: solid;
    text-align: center;
    border-radius: 10px 10px 0px 0px;

    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-weight: bold;

    background-color: var(--grisOscuro);

}

.nav__solapa--seleccionado{
    width: 20%;
    border: var(--negro) 0.3rem;
    border-style: solid solid none solid;
    text-align: center;
    border-radius: 10px 10px 0px 0px;


    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.nav__solapa--resto{
    width: 20%;
    border: var(--negro) 0.3rem;
    border-style: none none solid none;
}
.contenido__solapa{
    border: var(--negro) 0.3rem;
    border-style: none solid solid solid;

    display: flex;
    flex-direction: column;

    padding: 1rem;
}
/** Solapas Responsivas **/
/** Solapas dos filas **/
.ficha{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}


/** Solapas a una fila **/

@media (min-width: 1180px) {
    .navegacion__solapas{
        display: flex;
        flex-direction: row;
        
    }

    .nav__solapa{
        width: 15%;
        border: black 0.3rem;
        border-style: solid;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
    
        padding: 1rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--negro);
        font-family: var(--fuentePrincipal);
        font-weight: bold;
    
        background-color: var(--grisOscuro);
    
    }
    
    .nav__solapa--seleccionado{
        width: 13%;
        border: var(--negro) 0.3rem;
        border-style: solid solid none solid;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
    
    
        padding: 1rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--negro);
        font-family: var(--fuentePrincipal);
        font-weight: bold;
    }
    
    .nav__solapa--resto{
        width: 16%;
        border: var(--negro) 0.3rem;
        border-style: none none solid none;
    }
}


.contenido__solapa{
    border: var(--negro) 0.3rem;
    border-style: none solid solid solid;
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    /* height: 500px; */
    height: auto;
}


/****************/
/** UTILIDADES **/
/****************/

/*quitar las flechas de los inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

.flex__textItem{
    margin: auto;
    text-align: center;
}

.flex__imageItem{
    width: 10rem;
    height: 10rem;
    margin: 1rem  auto;
}

.flex__imageItem--small{
    width: 5rem;
    height: 5rem;
    margin: 1rem  auto;
}

.padding__inputText{
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/** TEXTO **/
span{
    font-weight: 400;
}
.titulo{
    font-weight: normal;
    color: var(--grisOscuro);
    font-size: 3rem;
}

.subtitulo{
    font-weight: bold;
    text-decoration: var(--negro);
}

.normal{
    font-size: 2rem;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.titulo__seccion{
    /* background-color: var(--primario); */
    color: var(--negro);
    font-weight: normal;
    padding: 1rem 1rem;
    text-align: center;
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}
.titulo__seccion--lab{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--primario);
    color: var(--negro);
    font-weight: normal;
    padding: 1rem 1rem;
    text-align: center;
}
.titulo__completar{
    background-color: rgb(170, 167, 167);
    color: var(--negro);
    font-weight: normal;
    padding: 0.5rem 0rem 0.5rem 4rem;
}
.titulo_consulta__medidas{
    margin-bottom: 3rem;
}
.titulo__2{
    background-color: var(--grisClaro);
}
a:hover{
    color: #000;
    /* text-decoration: none; */
}

/*** CSS FICHA INICIAL ***/

.seccion__class{
display: flex;
column-gap: 1rem;
margin-left: 2rem;
}
.seccion__observaciones{
    margin-left: 2rem;
    }
.area__observaciones{
    display: grid;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    width: 80%;
    height: 15rem;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    align-content: center;
}
.formulario__laboratorios{
border-color: var(--grisOscuro);
border-style: solid;

padding-bottom: 2rem;
padding-top: 1rem;
font-family: var(--fuentePrincipal);
}
.formulario__laboratorios legend{
    margin: auto;
    margin-bottom: auto;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 1rem;     
    margin-left: 50rem;  
}
.contenido__input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    font-size: 2rem;    
    font-family: var(--fuentePrincipal);
    resize: none;
}

.contenido__fecha{
    width: 30%;
}
.contenido__edad{
    font-family: var(--fuentePrincipal);
    margin-top: 2rem;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    }
.contenido__input--edad{
    font-family: var(--fuentePrincipal);    
    margin-top: 2rem;
    margin-left: 1.5rem;
    width: 40rem;
    height: 5rem;
    font-size: 2rem;
    resize: none;
}
/** CSS ANTROPOMETRIA**/


.input__valor{
    display: flex;
    font-size: 2rem;
    width: 15rem;
    margin-top: -4rem;
    margin-left: 10rem; 
    text-align: center;
}

.tabla__antro--contenido{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.label__ficha{
    width: 20%;
    margin-left: 5%;
}
/* .tabla__antro{
    font-family: var(--fuentePrincipal);
    border-color: var(--grisOscuro);
    display: grid;
    margin-right: 32%;
    margin-left: 30rem;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    column-gap: 20%;
} */

.tabla__antro--contenido-peso{
    margin-left: 2%;
}
.input__valor--peso{
    display: flex;
    font-size: 2rem;
    width: 15rem;
    margin-top: -4rem;
    margin-left: 10rem;
    text-align: center;
 }

.input__valor--peso2{
    display: flex;
    font-size: 2rem;
    width: 15rem;
    margin-top: 0rem;
    margin-left: 10rem; 
    text-align: center;
}

.input__valor--diametro{
    display: flex;
    font-size: 2rem;
    width: 15rem;
    margin-top: -4rem;
    margin-bottom: 4rem;
    margin-left: 10rem; 
    text-align: center;
}

.tabla__antro--contenido-2{
    margin-top: -3rem;
    width: 5rem;
    margin-left: 2%;
    margin-right: 5%;
    display: flex;
}

.input__valor-2{
    height: 3rem;
    display: flex;
    font-size: 2rem;
    width: 13rem;
    margin-top: -5rem;
    margin-bottom: 4rem;
    margin-left: 12rem; 
    text-align: center;
}

.tabla__antro--ajuste{
    height: 3rem;
    display: flex;
    font-size: 2rem;
    width: 13rem;
    margin-top: -3rem;
    margin-bottom: 4rem;
    margin-left: -1rem; 
    text-align: center;
}

.input__valor-3{
    height: 3rem;
    display: flex;
    font-size: 2rem;
    width: 7rem;
    margin-top: -8rem;
    margin-bottom: 5rem;
    margin-left: 12rem; 
    text-align: center;
}

.input__valor-4{
    height: 3rem;
    display: flex;
    font-size: 2rem;
    width: 10rem;
    margin-top: -5rem;
    margin-left: 12rem; 
    text-align: center;
}

.boton{
    font-family: var(--fuentePrincipal);
    background-color: var(--primario);
    color: black;
    font-size: 2rem;
    height: 4rem;
    width: 15rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    float: right;
    margin-right: 5%;
}
.boton:hover{
    background-color:var(--verdeBtonHover);
}
/*metabolismo basal*/
.formula__metBasal{
    margin-top: -1rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap:2rem;
   
}
.formula__metBasal--valor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}
.formula__metBasal--nombre{
    margin-left: 1rem;
}

.input__metBasal{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    /* margin-right: 33rem; */
    margin-block: auto;
    /* margin-inline: unset; */
    width: 30rem;
}
.input__ajuste{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    /* margin-right: 33rem; */
    margin-block: auto;
    margin-left: 2.7rem;
    width: 10rem;
    padding-right: 1rem;
}
.ajuste__actividad{
    display:flex;
    justify-content: space-between;
    text-align: center;
}

label{
        font-size: 2rem;
        /* margin-left: 2rem;
        margin-top: -4rem; */
}
/** RESPONSIVIDAD :O**/
/*********************/

/*------------------------------------*/
@media(max-width:1000px){
    
    .contenedorOpciones{
        width: 25%;
    }
    .contenedorOpciones__opcion{
        display: grid;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 25rem;
    }
    span{
        margin-left: 5rem;
    }

    .accesoRapido{
        width: 100%;
    }
    .contenidoPrincipal{
        width: 100%;
    }
    .contenido__article{
        width: 100%;
    }
    .contenido__input{
        margin: 1rem 2rem;
        width: 45%;    
        height: 5rem;        
    }
    .contenidoPagina{
        width: 100%;
    }

    .contenido__input.contenido__fecha{
        width: 20rem;
        text-align: center;
    }
    .label__ficha{
        margin-left: 0rem;
        width: 15rem;
    }
    .contenido__edad{
        display: flex;
        margin-top: 2rem;
        margin-left: 2rem;
        width: 5rem;    
        height: 5rem;        
    }
    .contenido__input--edad{
        margin-top: 2rem;
        height: 10rem;
        width: 20rem;
        margin-left: 0rem;
    }
    .tabla__antro{
        display: grid;
        grid-template-columns: 100%;
    }
    .area__observaciones{
        display: grid;
        align-content: center;
        align-items: center;
        margin-left: 6rem;
        width: 70%;
        
    }
    .nav__solapa{
        font-size: 1.3rem;
    }
    /*antro*/
    .tabla__antro{
        margin-left: 3rem;
    }

    .tabla__antro--contenido{
        display: grid;
        text-align: center;
        align-items: center;
        margin-right: 15rem;
    }

    .input__valor{
        display: grid;
        text-align: center;
        align-items: center;
        margin-left: 25rem;
    }
    .input__valor--peso{
        display: grid;
        text-align: center;
        align-items: center;
        margin-left: 25rem;
    }
    .input__valor--peso2{
        display: grid;
        text-align: center;
        align-items: center;
        margin-left: 25rem; 
    }

    .input__valor--diametro{
        display: grid;
        margin-left: 25rem;
    }

    .tabla__antro--contenido-2{
        display: grid;
        text-align: center;
        align-items: center;
        margin-left: 13rem;
    }

    .input__valor-2{
        display: grid;
        text-align: center;
        align-items: center;
        margin-left: 25rem;
    }
    .input__valor-3{
        display: grid;
        text-align: center;
        align-items: center;
        margin-left: 25rem;
    }
    .input__valor-4{
        display: grid;
        text-align: center;
        align-items: center;
        margin-left: 25rem;
    }
    .boton{
            float: right;
        }
    }
    /*---------celular----------------*/
    @media(max-width:700px){
        
        span{  
            margin-left: 5rem;
        }
        .contenido__input{
            margin: 1rem 1rem;
            width: 55%;
        }
        h2{
            font-size: 1.7rem;
        }

        .contenido__fecha{ 
            width: 44%;
        }
        .contenido__edad{ 
            margin-left: 2rem;
        }
        
        .contenido__input--edad{
            width: 38rem;
            margin-top: 1rem;
            height: 13rem;
            margin-left: -1rem;
        }
        .encabezado__datosPaciente{
            margin: 1rem;
        }
   
        .area__observaciones{
            width: 84%;
            margin-left: 1.6rem;
        }
        
        .nav__solapa--seleccionado {
        font-size: 1.5rem;
        width: 300%;
        }
        .nav__solapa {
            width: 34%;
            font-size: 1.1rem;
        
        }
        /*antro*/
        .tabla__antro--contenido{
            margin-left: 0rem;
        }
        .input__valor{
            margin-left: 7rem;
        }
        .input__valor--peso{
            width: 15rem;
            margin-left: 7rem;
        }
        .input__valor--peso2{
            width: 15rem;
            margin-left: 7rem;
        }
        .input__valor--diametro{
            width: 15rem;
            margin-left: 7rem;
        }

        .tabla__antro--contenido-2{
            margin-left: -1rem;
            margin-top: 4rem;
        }
        .input__valor-2{
            margin-left: 8rem;
            width: 15rem;
        }
        .input__valor-3{
            margin-left: 8rem;
            
        }
        .input__valor-4{
            margin-left: 8rem;
            width: 15rem;
        }
        .boton{
                margin-left: 1rem;
                width: 93%;
            }
    }
    /*---------------------------*/
    @media(max-width:468px){
        .menuPrincipal{
            display: flex;
            justify-content: space-around;
        }
        .contenedorOpciones{
            display: flex;
            justify-content: space-around;
        }
        .contenedorOpciones__opcion{
            font-size: 1rem;
            display: flex;
            justify-content: space-around;
            position: absolute;
            border-style: solid;
            border-color: red;
            width: 40rem;
            align-content: center;
            text-align: center;
            align-items: center;
            margin-left: -13rem;
        }
    }
/***********                        ************
************ ANAMNESIS ALIMENTARIA  ************    
************                        ************/
    
/***********************/
/**** CUESTIONARIOS ****/
/***********************/

.carne__cuestionario{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.pregunta__cuestionario{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label__pregunta{
    width: 50%;
}

.label__pregunta--desarrolo{
    width: 20%;
}

.textarea{
    resize: none;
    width: 100%;
    height: 8rem;
    margin: 1rem 0rem;
    font-size: 2rem;
}

.respuesta__pregunta--checkbox{
    width: 2rem;
    height: 2rem;
}
.section__fichas{
    display: flex;
    flex-direction: column;
    background-color: var(--grisMedio);
    margin: 2rem;
}

.lacteos__cuestionario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.huevos__cuestionario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.vegetales__cuestionario{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}
.panificacion__cuestionario{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.bebidas__cuestionario{
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.azucar__cuestionario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.aceite__cuestionario{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.grasas__cuestionario{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.sal__cuestionario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.alcohol__cuestionario{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.comidas__cuestionario{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.decoracion__pregunta{
    border: solid;
    border-color: var(--grisMedio);
    margin: 0rem 1rem 1rem 0rem;
    background-color: var(--grisClaro);
    justify-content: center;
}

.pregunta__desarrollo{
    padding: 0rem 4rem;
}

.otros__allcolumns1-3{
    grid-column: 1/3;
    padding: 0.5rem 4rem 0.5rem 4rem;
    gap: 2rem;
}


.otros__allcolumns1-4{
    grid-column: 1/4;
    padding: 0.5rem 4rem 0.5rem 4rem;
    gap: 2rem;
}


/* Correcciones */

#div-55{grid-column: 1/2; grid-row: 3/4;}

.subtitulo__sub{
    border: solid 0.5rem ;
    border-color: var(--grisOscuro);
}

.crn__salsa{
    grid-column: 1/3;
}

.textarea__sal{
    height: 3rem;
}

.bebidas__cantidades{
    height: 3rem;
    width: 60%;
    font-size: 2rem;
}

@media (max-width: 1140px) {

 .carne__cuestionario, .panificacion__cuestionario, 
.aceite__cuestionario, .grasas__cuestionario {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.otros__allcolumns1-4{
    grid-column: 1/3;
    padding: 0.5rem 4rem 0.5rem 4rem;
}

/* Ajustes Ubicacion */

#div-3{grid-column: 2/3; grid-row: 2/3;}
#div-11{grid-column: 1/2; grid-row: 2/3;}
#div-4{grid-column: 1/2; grid-row: 3/4;}
#div-12{grid-column: 1/2; grid-row: 4/5;}
#div-5{grid-column: 2/3; grid-row: 3/4;}
#div-6{grid-column: 2/3; grid-row: 4/5;}
#div-7{grid-column: 1/2; grid-row: 5/6;}
#div-8{grid-column: 2/3; grid-row: 5/6;}
#div-9{grid-column: 2/3; grid-row: 6/7;} /*Pescado Mar*/
#div-10{grid-column: 1/2; grid-row: 7/8;} /*Cerdo*/
#div-13{grid-column: 1/2; grid-row: 8/9;}
#div-14{grid-column: 2/3; grid-row: 8/9;}
#div-15{grid-column: 2/3; grid-row: 9/10;}


#div-55{grid-column: 1/2; grid-row: 2/3;}
#div-49{grid-column: 2/3; grid-row: 2/3;}
#div-50{grid-column: 1/2; grid-row: 3/4;}
#div-51{grid-column: 2/3; grid-row: 3/4;}
#div-52{grid-column: 2/3; grid-row: 4/5;}
#div-53{grid-column: 2/3; grid-row: 5/6;}
#div-54{grid-column: 2/3; grid-row: 6/7;} 
#div-56{grid-column: 1/2; grid-row: 7/8;}
#div-57{grid-column: 2/3; grid-row: 7/8;}
#div-58{grid-column: 2/3; grid-row: 8/9;}
#div-59{grid-column: 1/3; grid-row: 9/10;}


}
.camposAVerificar{
    background-color: var(--grisOscuro);
}

.democlass{
    background-color: var(--grisClaro);
}

.selected{
    background-color: red;
}

/*color icono de sesion*/
.ace-nav > li.light-blue > a:focus, .ace-nav > li.light-blue > a:hover, .ace-nav > li.open.light-blue > a {
    background-color: #393939;
}
.ace-nav > li.light-blue > a {
    background-color: #393939;
}


/************ AJUSTES/CORRECCIONES *****************/

.flex__antro{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

.flex__antro--wmargin{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

@media (max-width: 1000px) {
    .flex__antro{
        flex-direction: column;
    }
 
    .flex__antro--wmargin{
        flex-direction: column;
    }

    .formula__basal{
        margin-top: 4rem;
    }

}

.cc__style{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
}

