
:root{
    --primario: #00d500;
    --secundario: #00aa00;
    --blanco: #fff;
    --negro: #000;
    --grisClaro: #f0f3f4;
    --grisMedio: #e5e5e5;
    --grisOscuro: #acadac;
    --fuentePrincipal: 'Amatic+SC', cursive;
}
html{
    box-sizing: border-box;  
    font-size: 62.5%; 
}

*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color:var(--grisMedio);  
    /* background-image: linear-gradient(to top,var(--grisOscuro) 0%,var(--grisMedio) 40%); */
}
 .sesion-principal{
background-color:var(--blanco);
font-size: 150%;
text-align: center;
margin-top: 20rem; 
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
min-width: 250px; 
max-width: 500px; 

} 
h1{
    text-align: left;
     /* margin-right: 25%;  */
    /* margin-left: 1px; */
    font-size: 160%;
    margin-bottom: 10%;
    font-family:var(--fuentePrincipal);
    /* margin-left: 2px; */
    
}
img{
    margin-left:10%;  
    margin-right: 10%;
    width: 70px;
    height: 70px;
}
.imagen{
margin-top: 70px;
/* margin-right: 35%; */
display: flex;
/* align-items: left;   */
/* justify-content: space-evenly;  */

}
.boton-iniciarSesion{
    margin-top: 30px;
    margin-bottom: 100px;
    color: var(--primario);
    margin-left: 10%;
    background-color: var(--primario);
    color: var(--blanco);
    padding-left: 6%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.formulario-sesion{
    margin-right: 10%;
}
a{
    font-size: 15px;
    margin-right: 44%;
    margin-bottom:4%;
    margin-top: 5%;
    color:blue;
    text-decoration: none;
    width: 60%;
}
h2{
    margin-right: 40%;
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    font-weight: lighter;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.usuario {
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 25%;
    outline: none;
    width: 60%;
    
}
.contraseña{
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none; /*quita el recuadro al hacerle click*/
    margin-right: 25%;
    margin-top: 2%;
    width: 60%;
    
}
.sombra{
    -webkit-box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    /* border-radius: 1rem; */
}

/* AJUSTES RESPONSIVE*/

 @media(max-width:460px){
   .formulario-sesion a{
       margin-right: 30%;
   }
      .h2{
        margin-right: 20%;
        font-size: 30%;
        align-items: center;
      }
      .imagen{
        margin-top: 30px;
        margin-left: -10%;
    } 
    .boton-iniciarSesion{
        margin-left: -2%;
    }
    .sesion-principal{
        margin-top:40%;
    }
        
} 

