:root{

    --primario: #00d500;
    --secundario: #00aa00;
    --blanco: #fff;
    --negro: #000;
    --grisClaro: #f0f3f4;
    --grisMedio: #e5e5e5;
    --grisOscuro: #acadac;
    --verdeBtonHover: #3abe33;

    --fuentePrincipal: 'Amatic+SC', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    /*Solucion Corte*/
    height: 100%;
    scroll-snap-type: y mandatory;
}


html, body{
    width:100%;
    margin: 0;
    height: 100%;
    /*display: flex;*/

  }



    /*** Responsivo ***/

    @media (min-width: 700px) {
   
        body{
        display: flex;
       }   
    
      }
    
      @media (max-width: 699px) {
        .menuPrincipal{
           padding-bottom: 4rem;
        }
    
      }

  *, *:before, *:after{
    box-sizing: inherit;
}

h1{
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 10rem;
}

h2{
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
} 

h3{
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
}


.flex-imageItem{
    width: 10rem;
    height: 10rem;
    margin: 1rem  auto;
}

.flex-imageItem--small{
    width: 5rem;
    height: 5rem;
    margin: 1rem  auto;
}

/*************************/
/** CONTENIDO A UN LADO **/
/*************************/

.aside{
    display: flex;
    flex-direction: column;
}

/** LOGO **/

.logo{
    background-color: var(--secundario);
    display: flex;
    justify-content:space-between;
    gap: 1rem;
    min-width: 20%;
}

.name_app{
    margin: 0 auto;
    font-size: 3rem;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    padding: 1rem;
}

.logo__manzana{
    width: 8rem;
    height: 8rem;
    margin: 1rem  0rem 1rem 4rem;
}

/** MENU **/

.menuPrincipal{
    background-color: var(--primario);
    height:200%;
    margin-bottom:auto;
}

.contenedorOpciones{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    max-height: 100% ;
    padding-top: 4rem;

}

.contenedorOpciones__opcion{

    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.contenedorOpciones__opcion:hover{
    background-color: var(--secundario);
    color: var(--blanco);
}

/*************************/
/** CONTENIDO PRINCIPAL **/
/*************************/

.contenidoPrincipal{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    background-color: var(--grisClaro);
}

.accesoRapido{
    
    display: flex;
    background-color: white;
    align-items: center;
    justify-content:space-between;
    width: 100%;
}

.menuIcon{
    display: flex;
    align-items: flex-start;
    padding-left: 2rem ;
}

.notifYUsuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    gap: 2rem;
    margin-right: 2rem;
}

.contenidoPagina{
    display: flex;
    flex-direction: column;
}

/* .carne__cuestionario{
    display: grid;
    grid-template-columns: repeat(3,3fr 1fr) ;
    align-items: center;
} */

.section__historiaClinica{
    display: flex;
    flex-direction: column;
    background-color: var(--grisMedio);
    margin: 2rem;
}

.encabezado__datosPaciente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5rem;
}

.evoluciones{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.navegacion__solapas{
    display: flex;
    flex-direction: row;
    
}

.nav__solapa{
    width: 20%;
    border: black 0.3rem;
    border-style: solid;
    text-align: center;
    border-radius: 10px 10px 0px 0px;

    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-weight: bold;

    background-color: var(--grisOscuro);

}

.nav__solapa--seleccionado{
    width: 20%;
    border: var(--negro) 0.3rem;
    border-style: solid solid none solid;
    text-align: center;
    border-radius: 10px 10px 0px 0px;


    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.nav__solapa--resto{
    width: 20%;
    border: var(--negro) 0.3rem;
    border-style: none none solid none;
}

.contenido__solapa{
    border: var(--negro) 0.3rem;
    border-style: none solid solid solid;

    display: flex;
    flex-direction: column;

    padding: 1rem;
}


/****************/
/** UTILIDADES **/
/****************/

.flex__textItem{
    margin: auto;
    text-align: center;
}

.flex__imageItem{
    width: 10rem;
    height: 10rem;
    margin: 1rem  auto;
}

.flex__imageItem--small{
    width: 5rem;
    height: 5rem;
    margin: 1rem  auto;
}

.padding__inputText{
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/** TEXTO **/
span{
    font-weight: 400;
}
.titulo{
    font-weight: normal;
    color: var(--grisOscuro);
    font-size: 3rem;
}

.subtitulo{
    font-weight: bold;
    text-decoration: var(--negro);
}

.normal{
    font-size: 2rem;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.titulo__seccion{
    background-color: var(--primario);
    color: var(--negro);
    font-weight: normal;
    padding: 0.5rem 0rem 0.5rem 4rem;
    
}
.titulo__seccion--lab{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--primario);
    color: var(--negro);
    font-weight: normal;
    padding: 0.5rem 0rem 0.5rem 4rem;
}
.titulo__completar{
    background-color: rgb(170, 167, 167);
    color: var(--negro);
    font-weight: normal;
    padding: 0.5rem 0rem 0.5rem 4rem;
}

/*** CSS FICHA INICIAL ***/

.seccion__class{
display: flex;
column-gap: 1rem;
margin-left: 2rem;
}
.seccion__observaciones{
    margin-left: 2rem;
    }
.area__observaciones{
    font-family: var(--fuentePrincipal);
    margin-top: -1rem;
    font-size: 2rem;
    width: 50%;
    height: 191px;
    resize: none;
    margin-left: 36.3rem;
}
.formulario__laboratorios{
border-color: var(--grisOscuro);
border-style: solid;

padding-bottom: 2rem;
padding-top: 1rem;
font-family: var(--fuentePrincipal);
}
.formulario__laboratorios legend{
    margin: auto;
    margin-bottom: auto;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 1rem;     
    margin-left: 50rem;  
}
.contenido__input{
    margin: 1rem 0;
    width: 50%;
    font-size: 2rem;    
    font-family: var(--fuentePrincipal);
}
.contenido__fecha{
    width: 15%;
}
.contenido__edad{
    width: 10%;
}
.contenido__input--edad{
    width: 39.3%;
}
/** CSS ANTROPOMETRIA**/


.input__valor{
    margin-bottom: 2rem;
    font-size: 2rem;
    display: inline-flex;
    position: absolute;
    margin-top: 1rem;
    width: 40%;
    margin-left: 10rem;
    
}
/*sacar las flechas del input numerico*/
input[type=number] {
    -moz-appearance:textfield;
}
.input__valor--diametro{
    font-family: var(--fuentePrincipal);
    margin-bottom: 1rem;
    font-size: 2rem;
    margin-left: 4.7rem;
    margin-right: 6rem;
    margin-top: 1rem;
    padding-left: 14rem;
    padding-right: 14.3rem;
}

.label__ficha{
    width: 20%;
}
.tabla__antro{

    font-family: var(--fuentePrincipal);
    border-left: -10rem;
    border-color: var(--grisOscuro);
    padding-left: 3rem;
    margin-left: 11rem;
    margin-right: 45rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 60% 60%;
    column-gap: 4rem;
}

.input__valoresDiametro{
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    margin-right: -2.5rem;
}
/*clase que contiene al input*/
.input__valoresPeso{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    margin-left: 3.1rem;
    margin-right: 7.1rem;
}
    /*para peso minimo*/
.input__valor--peso{
    font-family: var(--fuentePrincipal);
    margin-top: 1rem;
    font-size: 2rem;
    margin-inline: initial;
    margin-left: 0rem;
    padding-right: 26.9rem;
}
.input__valor--peso2{
    font-family: var(--fuentePrincipal);
    margin-bottom: 1rem;
    font-size: 2rem;
    /* margin-block: auto; */
    margin-inline: initial;
    margin-left: 0.1rem;
    margin-right: 6.1rem;
    margin-top: 1rem;
    width: 60%;
}
.input__valor--pesoMax{
    font-family: var(--fuentePrincipal);
    margin-top: 1rem;
    font-size: 2rem;
    padding-right: 24.3rem;
    margin-left: -2.8rem;
}
.input__valor--pesoMax2{
    font-family: var(--fuentePrincipal);
    margin-bottom: 1rem;
    font-size: 2rem;
    margin-inline: initial;
    margin-left: -2.7rem;
    margin-right: 7.1rem;
    margin-top: 1rem;
    width: 60%;
    
}
.tabla__diametro{
    margin-left: 2rem;
}
.tabla__antro--contenidoMedida{
    color:grey;
    margin-left: 4rem;
    margin-right: 15rem;
    margin-top: 1rem;
}
.tabla__antro--contenido--cc{
    margin-left: -2rem;
}
.tabla__antro--class{
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    position: relative;
    
}

.boton{
    font-family: var(--fuentePrincipal);
    margin-top: 6%;
    margin-bottom: 5%;
    margin-left: 137rem;
    background-color: var(--primario);
    color: var(--blanco);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2rem;
    
}
.boton:hover{
    background-color:var(--verdeBtonHover);
}
/*metabolismo basal*/
.formula__metBasal{
    margin-top: -1rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap:2rem;
   
}
.formula__metBasal--valor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}
.formula__metBasal--nombre{
    margin-left: -4.1rem;
}
.input__metBasal{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    /* margin-right: 33rem; */
    margin-block: auto;
    /* margin-inline: unset; */
    margin-left: 2.7rem;
    width: 104%;
    padding-right: 28rem;
}
.input__ajuste{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    /* margin-right: 33rem; */
    margin-block: auto;
    margin-left: 2.7rem;
    width: 104%;
    padding-right: 24rem;
}
.ajuste__actividad{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.selector{
    font-family: var(--fuentePrincipal);
    margin-bottom: 1rem;
    font-size: 2rem;
    margin-right: 1rem;
    margin-block: auto;
    margin-inline: initial;
    margin-left: 2.7rem;
}
label{
        font-size: 2rem;
        /* margin-left: 2rem;
        margin-top: -4rem; */
}
/** RESPONSIVIDAD :O**/
/*********************/

@media(max-width:1700px){
    span{
            
        margin-left: 1rem;
    }
    .area__observaciones{
        margin: 1rem auto;
        
    }

    .contenido__fecha{ 
            width: 20%;  }
    .h2{
        font-size: 1.8rem;
    }
}
/*------------------------------------*/
    @media(max-width:1000px){
        span{
            
            margin-left: 5rem;
        }
        .contenido__input{
            margin: 1rem 2rem;
            width: 45%;
            
        }
    .contenido__edad{
        width: 17%;
        padding-bottom: 1rem;
        margin-top: 5rem;
        height: 3%;
    }
    .contenido__input--edad{
        width: 26.4%;
        padding-top: 6rem;
        margin-top: 0rem;
        height: 1%;
        margin-left: -2rem;
    }
    .tabla__antro{
        display: flex;
        text-align: center;
        justify-content: space-between;
        flex-direction: column;
        column-gap: 3rem;
        
    }
    .area__observaciones{
        width: 70.1%;
    }
    .nav__solapa{
        font-size: 1.3rem;
    }
    /*antro*/
    .tabla__antro{
        margin-left: 3rem;
    }
    .input__valor{
        padding-left: 13rem;
        margin-left: 11rem;
    }
    .input__valor--peso{
        width: 275%;
        margin-left: 0.7rem;
        padding-right: 7.8rem;
    }
    .input__valor--peso2{
        margin-left: 0.7rem;
        width: 213%;
    }
    .input__valor--pesoMax{
        width: 270%;
        margin-left: 0.2rem;
        padding-right: 2rem;
    }
    .input__valor--pesoMax2{
        margin-left: 1.2rem;
        width: 235%;
    }
    .input__valor--diametro{
        margin-left: 5.4rem;
        margin-right: -2.5rem;
        padding: 0;
    }
    .formula__metBasal{
        flex-direction: column;
        
    }
    .input__metBasal{
        margin-left: 3.4rem;
        padding-right: 13rem;
    }
    .ajuste__actividad{
        margin-left: -2.6rem;
        margin-top: -3rem;
    }
    .selector{
        margin-left: 2.7rem;
    }
    .input__ajuste{
        margin-left: 1.3rem;
        padding-right: 9.8rem;
    }
    .boton{
            margin-left: 40rem;
        }
    }

    /*---------celular----------------*/
    @media(max-width:700px){
        
        span{  
            margin-left: 5rem;
        }
        .contenido__input{
            margin: 1rem 5rem;
            width: 55%;
        }
        h2{
            font-size: 1.7rem;
        }

        .contenido__fecha{ 
            width: 44%;  }
        /* .contenido__edad{
            width: 55%;
            padding-bottom: 0rem;
            margin-left: 7.9rem;
            margin-top: 11rem;
            padding-top: 1rem;
        }
        .contenido__input--edad{
            width: 191%;
            padding-top: 9rem;
            margin-top: 3rem;
            height: 0%;
            margin-left: -5rem;
            margin-right: 5rem;
        } */
        .contenido__edad{ 
            margin-left: 5rem;
            margin-right: -4.5rem;
        }
        .contenido__input--edad{
            padding-top: 8rem;
            margin-top: 6rem;
            margin-left: -23.4rem;
            margin-right: 5rem;
        }
        .area__observaciones{
            width: 84%;
            margin-left: 1.6rem;
        }
        
        .nav__solapa--seleccionado {
        font-size: 2rem;
        width: 300%;
        }
        .nav__solapa {
            width: 380%;
            font-size: 1.2rem;

        }
        /*antro*/
        .tabla__antro{
            margin-left: 3rem;
        }
        .input__valor{
            padding-left: 13rem;
            margin-left: 11rem;
        }
        .input__valor--peso{
            width: 275%;
            margin-left: 1.7rem;
            padding-right: 6.8rem;
        }
        .input__valor--peso2{
            margin-left: 1.7rem;
            width: 213%;
        }
        .input__valor--pesoMax{
            width: 270%;
            margin-left: 1.2rem;
            padding-left: 1rem;
            padding-right: 0rem;
        }
        .input__valor--pesoMax2{
            margin-left: 1.2rem;
            width: 235%;
        }
        .input__valor--diametro{
            margin-left: 6.4rem;
            margin-right: -3.5rem;
            padding: 0;
        }
        .formula__metBasal{
            flex-direction: column;
            
        }
        .input__metBasal{
            margin-left: 5.4rem;
            padding-right: 13rem;
        }
        .ajuste__actividad{
            margin-left: -2.6rem;
            margin-top: -3rem;
        }
        .selector{
            margin-left: 2.7rem;
        }
        .input__ajuste{
            margin-left: 1.3rem;
            padding-right: 9.8rem;
        }
        .boton{
                margin-left: 1rem;
                width: 93%;
            }
    }
    /*---------------------------*/
    @media(max-width:468px){
        
        .contenido__input{
            margin: 1rem 7rem;
            /* width: 83%; */
            padding-right: 11rem;
        }
        .contenido__fecha{ 
            width: 40%;  }

            .nav__solapa--seleccionado {
                font-size: 1.3rem;
                width: 280%;
                }
                .nav__solapa {
                    width: 31%;
                    font-size: 1.2rem;
                }
                span{  
                    margin-left: 1rem;
                    font-size: 1.4rem; 
                    margin-right: 2rem;
                }
                .section__historiaClinica {margin: 1rem;}
                .contenido__edad{ 
                    margin-left: 7rem;
                    height: -22%;
                }
                .contenido__input--edad{
                    padding-top: 8rem;
                    margin-top: 6rem;
                    margin-left: -20.6rem;
                    margin-right: 7rem;}
                /*antro*/
                .tabla__antro{
                    margin-left: 2rem;
                }
                .input__valor{
                    padding-left: 13.6rem;
                }
                .input__valor--peso{
                    width: 140%;
                    margin-left: 1.7rem;
                }
                .input__valor--peso2{
                    margin-left: 1.7rem;
                    width: 134%;
                }
                .input__valor--pesoMax{
                    width: 140%;
                    margin-left: 1.2rem;
                }
                .input__valor--pesoMax2{
                    margin-left: 1.2rem;
                    width: 134%;
                }
                .input__valor--diametro{
                    margin-left: 6.4rem;
                    margin-right: -4.5rem;
                    padding: 0;
                }
                .formula__metBasal{
                    flex-direction: column;
                    
                }
                .input__metBasal{
                    margin-left: 5.4rem;
                    padding-right: 13.6rem;
                }
                .ajuste__actividad{
                    margin-left: -2.6rem;
                }
                .selector{
                    margin-left: 1rem;
                }
                .input__ajuste{
                    margin-left: 1.3rem;
                    padding-right: 12.6rem;
                }
                .boton{
                        margin-left: 2rem;
                        width: 92%;
                    }
                
                
    }